<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/adminstrationdetails/" method="post">
    {% csrf_token %}
    <table align="center" border="2">
        <tr>
            <td>
                <input type="text" placeholder="user name" required name="t1">
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" placeholder="password" required name="t2">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login">
            </td>
        </tr>
    </table>
</form>
</body>

</html>