<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr>
    <a href="/Home/">Home</a> &nbsp
    <a href="/aboutus/">About Us</a> &nbsp;
    <a href="/contactus/">Connect with Us</a>&nbsp;&nbsp;&nbsp;
    <a href="/wiki/">Wiki</a>&nbsp; &nbsp;&nbsp;
    <a href="/admin/"/>Admin</a>&nbsp;
    <a href="/adminstration/">Adminstration</a>&nbsp;
    <a href="/comment/">Comments</a> &nbsp;
</tr>
<H1 align="center">Registration Page Form</H1>
<table align="center" border="0">
    <tr>
        <td>
           <a href="/register/">New Registration Page</a> &nbsp;
           <a href="/login/" >Account Already Exist</a>
        </td>
    </tr>
    <tr>
        <td>
            {% load staticfiles %}
            <img src="{% static '246x0w.jpg' %}" width="300" height="250">
        </td>
    </tr>
    </table>
</body>
</html>