<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">USER'S COMMENTS SECTION ABOUT THE PRODUCT</h1>
<form action="/comments/" method="post">
    {% csrf_token %}

<table align="center"  border="2" bgcolor="#fff8dc">
    <tr>
        <td>Comments
            <textarea name="comments"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Submit">
            <input type="submit" value="Cancel">
        </td>
    </tr>
</table>
</form>
</body>
</html>