<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Name:Mukthavarapu Vamsi Krishna</h3>
<table align="center" border="0">
    <tr>
        <td>
    {% load staticfiles %}
            <td>
 <img src="{% static '15036709_1031911146934530_7935472265962199991_n.jpg' %}" width="300" height="350"></td><br/>
 <span>Qualification:M.tech- Vit University of Chennai.</span><br/>
    <span>Contact No: 8015839283</span>
</td>
</tr>
</table>
</body>
</html>