<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align="center">Home Page</h1>
<tr>
    <td>
        <p>
          When Amazon first launched in 1995 as a website that only sold books, founder Jeff Bezos had a vision for the company's explosive growth and e-commerce domination.
          He knew from the very beginning, he wanted Amazon to be "an everything store." In author Brad Stone's 2013 book on the origins of Amazon, he paints a picture of the early days of the company and how it grew into the behemoth that it is today.
          Jillian D'Onfro contributed to an earlier version of this story.
        </p>
    </td>
</tr>
</body>
</html>